.dashboard{
    background-color: rgba(4, 6, 5, 0.9);
    height: 100%;
    &__line{
        border: none;
        outline: none;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50px;
        margin-bottom: 5px;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        color: #B2BAC2;
        height: 100%;
        padding: 15px 10px;
        li{
            list-style-type: none;
        }
        .dashboard-input{
            padding: 10px 15px;
            border: 1px solid #B2BAC2;
            color: #B2BAC2;
            outline: none;
            border-radius: 50px;
            background-color: rgba(0, 0, 0, 0.2);
            transition: all .3s;
            margin-bottom: 20px;
            &:hover{
                transition: all .3s;
                background-color: rgba(39, 38, 38, 0.2);
                border: 1px solid white;
                color: white;
            }
        }
        .dashboard-btn{
            padding: 10px 15px;
            outline: none;
            color: #B2BAC2;
            border: 1px solid #B2BAC2;
            border-radius: 50px;
            background-color: rgba(0, 0, 0, 0.2);
            transition: all .3s;
            &:hover{
                transition: all .3s;
                color: white;
                background-color: rgba(39, 38, 38, 0.2);
            }
                &--success{
                width: 100%;
                background-color: rgb(13, 57, 10)!important;
                transition: all .3s;
                margin-bottom: 5px;
                &:hover{
                    background-color: rgb(17, 87, 12)!important;
                    }
                }
                &--cancel{
                    width: 100%;
                    background-color: rgb(129, 5, 7)!important;
                    transition: all .3s;
                    &:hover{
                        transition: all .3s;
                        background-color: rgb(155, 29, 31)!important;
                        color: white!important;
                }
            }
        }
    }
    .icons{
        width: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    .edit-icon{
        color: #0d9e6c;
    }
    .delete-icon{
        color: #e84545;
    }
    }

}

    

    
