.dashboard{
    background-color: rgba(4, 6, 5, 0.9);
    height: 100%;
    &__container{
        display: flex;
        justify-content: space-between;
        color: #B2BAC2;
        height: 100%;
        li{
            padding: 25px 20px;
            list-style-type: none;
        }
        .dashboard-input{
            width: 150px;
            padding: 10px 15px;
            border: 1px solid #B2BAC2;
            color: #B2BAC2;
            outline: none;
            border-radius: 50px;
            background-color: rgba(0, 0, 0, 0.2);
            transition: all .3s;
            &:hover{
                transition: all .3s;
                background-color: rgba(39, 38, 38, 0.2);
            }
        }
        .dashboard-btn{
            padding: 10px 15px;
            outline: none;
            color: #B2BAC2;
            border: 1px solid #B2BAC2;
            border-radius: 50px;
            background-color: rgba(0, 0, 0, 0.2);
            margin-left: 10px;
            &:hover{
                transition: all .3s;
                background-color: rgba(39, 38, 38, 0.2);
            }
        }
        .division{
        padding: 25px 20px;
        width: 300px;
        background-color: rgba(39, 40, 40, 0.8);
        height: 100%;
        border: 1px solid #B2BAC2;
        &__form{
            margin-bottom: 20px;
        }
        
        &__label{
            display: block;
            margin-bottom: 10px;
        }
        
        
        
        &__line{
            border: none;
            outline: none;
            height: 3px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 50px;

        }
        &__list{
            padding:4px 8px;
              &--item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 5px;
                .item-name{
                    display: flex;
                    .id{
                        width: 30px;
                    }
                }
                .icons{
                    width: 45px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }

    }

   
    
}