.sidenav {
  width: 200px;
  transition: width 0.3s ease-in-out;
  min-height: 92vh;
  background-color: rgb(5, 31, 32);
  padding: 20px 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  z-index: 1;
  border-right: 1px solid #b2bac2;
}

@media only screen and (max-height: 650px) {
  .sidenav {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
  }
  .sidenavClosed {
    width: 88px !important;
  }
}

.sidenavClosed {
  @extend .sidenav;
  transition: width 0.3s ease-in-out;
  width: 70px;
}
.sideitem {
  width: 100%;
  height: 60px;
  cursor: pointer;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  color: #b2bac2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.2s;
  border: 1px solid transparent;
  border-radius: 50px;
}

.sideitem-active {
  @extend .sideitem;
  border: 1px solid white;
  border-radius: 50px;
  background-color: rgb(35, 83, 71);
  color: white !important;
}

.sideitem:hover {
  border: 1px solid #b2bac2;
  border-radius: 50px;
  background-color: rgb(35, 83, 71);
}

.sideitem:active {
  transition: all 0.3s;
  transform: translateY(10%);
}
.linkText {
  margin-left: 20px;
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.linkTextClosed {
  padding-left: 16px;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
}

.sidebar-icon {
  transition: all 0.3s;
}

.sidebar-icon-toggle {
  transition: all 0.3s;
}

.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: #b2bac2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}
